
examples/komo/User_Defined_Files/komo_SWOTPLD.shx
examples/komo/User_Defined_Files/komo_SWOTPLD.shp
examples/komo/User_Defined_Files/komo_SWOTPLD.prj
examples/komo/User_Defined_Files/komo_SWOTPLD.dbf
examples/komo/User_Defined_Files/komo_SWOTPLD.cpg
examples/komo/User_Defined_Files/komo_ndvimin_ndwimin_clustered_finalwatermask.tif
examples/komo/User_Defined_Files/komo_input.shx
examples/komo/User_Defined_Files/komo_input.shp
examples/komo/User_Defined_Files/komo_input.prj
examples/komo/User_Defined_Files/komo_input.fix
examples/komo/User_Defined_Files/komo_input.dbf
examples/komo/User_Defined_Files/komo_input.cpg
examples/komo/User_Defined_Files/komo_hydropolys.shx
examples/komo/User_Defined_Files/komo_hydropolys.shp
examples/komo/User_Defined_Files/komo_hydropolys.prj
examples/komo/User_Defined_Files/komo_hydropolys.dbf
examples/komo/User_Defined_Files/komo_hydropolys.cpg
examples/komo/User_Defined_Files/komo_HydroLAKES.shx
examples/komo/User_Defined_Files/komo_HydroLAKES.shp
examples/komo/User_Defined_Files/komo_HydroLAKES.prj
examples/komo/User_Defined_Files/komo_HydroLAKES.dbf
examples/komo/User_Defined_Files/komo_HydroLAKES.cpg
examples/komo/User_Defined_Files/komo_extent.csv
examples/komo/User_Defined_Files/.DS_Store
examples/komo/tmp/run_gdal24_test.sh
examples/komo/tmp/komo_WorldCover.vrt
examples/komo/tmp/komo_WorldCover.txt
examples/komo/tmp/komo_temp.tif
examples/komo/tmp/komo_ndvimin_ndwimin_clustered_finalwatermask.vrt
examples/komo/tmp/komo_GLO30.vrt
examples/komo/tmp/komo_GLO30.txt
examples/komo/tmp/GLO30_s03e010.tif
examples/komo/tmp/GLO30_s03e009.tif
examples/komo/tmp/GLO30_s02e010.tif
examples/komo/tmp/GLO30_s02e009.tif
examples/komo/tmp/GLO30_s02e008.tif
examples/komo/tmp/GLO30_s01e010.tif
examples/komo/tmp/GLO30_s01e009.tif
examples/komo/tmp/GLO30_s01e008.tif
examples/komo/tmp/GLO30_n01e010.tif
examples/komo/tmp/GLO30_n01e009.tif
examples/komo/tmp/GLO30_n00e010.tif
examples/komo/tmp/GLO30_n00e009.tif
examples/komo/tmp/gee_ndwi_files.txt
examples/komo/tmp/ESA_WorldCover_10m_2020_v100_S03E009_Map.tif
examples/komo/tmp/ESA_WorldCover_10m_2020_v100_S03E006_Map.tif
examples/komo/tmp/ESA_WorldCover_10m_2020_v100_N00E009_Map.tif
examples/komo/tmp/ESA_WorldCover_10m_2020_v100_N00E006_Map.tif
examples/komo/Setup_Files/Setup_SHPkomo_segments_30x5.shx
examples/komo/Setup_Files/Setup_SHPkomo_segments_30x5.shp
examples/komo/Setup_Files/Setup_SHPkomo_segments_30x5.prj
examples/komo/Setup_Files/Setup_SHPkomo_segments_30x5.dbf
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.shx
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.shp
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.prj
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.geojson
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.dbf
examples/komo/Setup_Files/Setup_SHPkomo_river_centernode_30x5.cpg
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.shx
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.shp
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.prj
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.geojson
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.dbf
examples/komo/Setup_Files/Setup_SHPkomo_river_centerline_30x5.cpg
examples/komo/Setup_Files/Setup_SHP/komo_widthsfromproximity_30x5.shx
examples/komo/Setup_Files/Setup_SHP/komo_widthsfromproximity_30x5.shp
examples/komo/Setup_Files/Setup_SHP/komo_widthsfromproximity_30x5.prj
examples/komo/Setup_Files/Setup_SHP/komo_widthsfromproximity_30x5.dbf
examples/komo/Setup_Files/Setup_SHP/komo_widthsfromproximity_30x5.cpg
examples/komo/Setup_Files/Setup_SHP/komo_watermask_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_watermask_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_watermask_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_watermask_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_and_lakes_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_and_lakes_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_and_lakes_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_and_lakes_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_and_lakes_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_water_connected_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_segments_30x5.shx
examples/komo/Setup_Files/Setup_SHP/komo_segments_30x5.shp
examples/komo/Setup_Files/Setup_SHP/komo_segments_30x5.prj
examples/komo/Setup_Files/Setup_SHP/komo_segments_30x5.dbf
examples/komo/Setup_Files/Setup_SHP/komo_rivers_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_rivers_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_rivers_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_rivers_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_rivers_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.shx
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.shp
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.prj
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.geojson
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.dbf
examples/komo/Setup_Files/Setup_SHP/komo_river_centernode_30x5.cpg
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.shx
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.shp
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.prj
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.geojson
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.dbf
examples/komo/Setup_Files/Setup_SHP/komo_river_centerline_30x5.cpg
examples/komo/Setup_Files/Setup_SHP/komo_ocean_and_lake_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_ocean_and_lake_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_ocean_and_lake_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_ocean_and_lake_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_ocean_and_lake_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_modeldomain.shx
examples/komo/Setup_Files/Setup_SHP/komo_modeldomain.shp
examples/komo/Setup_Files/Setup_SHP/komo_modeldomain.prj
examples/komo/Setup_Files/Setup_SHP/komo_modeldomain.dbf
examples/komo/Setup_Files/Setup_SHP/komo_modeldomain.cpg
examples/komo/Setup_Files/Setup_SHP/komo_lands_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_lands_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_lands_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_lands_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_lands_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_landmask_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_landmask_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_landmask_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_landmask_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_lakes_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_lakes_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_lakes_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_lakes_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_lakes_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_fulloceans_30.shx
examples/komo/Setup_Files/Setup_SHP/komo_fulloceans_30.shp
examples/komo/Setup_Files/Setup_SHP/komo_fulloceans_30.prj
examples/komo/Setup_Files/Setup_SHP/komo_fulloceans_30.dbf
examples/komo/Setup_Files/Setup_SHP/komo_fulloceans_30.cpg
examples/komo/Setup_Files/Setup_SHP/komo_extent_32232.shx
examples/komo/Setup_Files/Setup_SHP/komo_extent_32232.shp
examples/komo/Setup_Files/Setup_SHP/komo_extent_32232.prj
examples/komo/Setup_Files/Setup_SHP/komo_extent_32232.dbf
examples/komo/Setup_Files/Setup_SHP/komo_extent_32232.cpg
examples/komo/Setup_Files/Setup_RSTkomo_widths_30x5.tif
examples/komo/Setup_Files/Setup_RSTkomo_segments_30x5.tif
examples/komo/Setup_Files/Setup_RSTkomo_distance_30.tif
examples/komo/Setup_Files/Setup_RST/komo_WorldCover_manningLUT.csv
examples/komo/Setup_Files/Setup_RST/komo_WorldCover_30.tif
examples/komo/Setup_Files/Setup_RST/komo_WorldCover_10.tif
examples/komo/Setup_Files/Setup_RST/komo_widthsfromproximity_30x5.tif
examples/komo/Setup_Files/Setup_RST/komo_widths_30x5.tif
examples/komo/Setup_Files/Setup_RST/komo_wetlands_30.tif
examples/komo/Setup_Files/Setup_RST/komo_wetlands_10.tif
examples/komo/Setup_Files/Setup_RST/komo_watermask_30.tif
examples/komo/Setup_Files/Setup_RST/komo_watermask_10.tif
examples/komo/Setup_Files/Setup_RST/komo_water_type.tif
examples/komo/Setup_Files/Setup_RST/komo_water_connected_and_lakes_30.tif
examples/komo/Setup_Files/Setup_RST/komo_segments_30x5.tif
examples/komo/Setup_Files/Setup_RST/komo_rivers_30.tif
examples/komo/Setup_Files/Setup_RST/komo_river_proximity_30x5.tif
examples/komo/Setup_Files/Setup_RST/komo_river_centerline_30x5.tif
examples/komo/Setup_Files/Setup_RST/komo_ndvimin_ndwimin_clustered_finalwatermask_expanded_10_3x3.tif
examples/komo/Setup_Files/Setup_RST/komo_ndvimin_ndwimin_clustered_finalwatermask_expanded_10.tif
examples/komo/Setup_Files/Setup_RST/komo_ndvimin_ndwimin_clustered_finalwatermask_10.tif
examples/komo/Setup_Files/Setup_RST/komo_manning_WorldCover.tif
examples/komo/Setup_Files/Setup_RST/komo_lands_30.tif
examples/komo/Setup_Files/Setup_RST/komo_landmask_30.tif
examples/komo/Setup_Files/Setup_RST/komo_landmask_10.tif
examples/komo/Setup_Files/Setup_RST/komo_landcover_final_30.tif
examples/komo/Setup_Files/Setup_RST/komo_lakes_30.tif
examples/komo/Setup_Files/Setup_RST/komo_GMW_30.tif
examples/komo/Setup_Files/Setup_RST/komo_GMW_10.tif
examples/komo/Setup_Files/Setup_RST/komo_GLO30_topo_30.tif
examples/komo/Setup_Files/Setup_RST/komo_GLO30_egm08.tif
examples/komo/Setup_Files/Setup_RST/komo_GEBCO_30.tif
examples/komo/Setup_Files/Setup_RST/komo_GEBCO_10.tif
examples/komo/Setup_Files/Setup_RST/komo_fulloceans_30.tif
examples/komo/Setup_Files/Setup_RST/komo_distance_30.tif
examples/komo/Setup_Files/Setup_RST/komo_crops_30.tif
examples/komo/Setup_Files/Setup_RST/komo_crops_10.tif
examples/komo/Setup_Files/Setup_RST/komo_bathy_30.tif
examples/komo/Setup_Files/Setup_FIG/komo_wetlands.png
examples/komo/Setup_Files/Setup_FIG/komo_landcover.png
examples/komo/Setup_Files/komo_Configuration.csv
examples/komo/DEMs/Elevation_ocean-GEBCO_land-GLO30_above1260m-wdpower_below1260m-plane_wetland-uni05m_lakes-uni1m_30.tif
examples/komo/Boundaries/Tide_LAT0.2825_LON9.0253/komo_tides_20100101.csv
examples/komo/Boundaries/Tide_LAT0.2825_LON9.0253/.DS_Store
examples/komo/Boundaries/.DS_Store
examples/komo/.DS_Store
.DS_Store
*.pyc
notebooks/.ipynb_checkpoints/GoogleColab_Introduction-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Build_Model_Files-checkpoint.ipynb
notebooks/.ipynb_checkpoints/1_GEEwatermask-checkpoint.ipynb
